<nz-layout> <!-- Used Ant-Desing lib: https://ng.ant.design/docs/introduce/en -->
  <nz-header>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <!-- Set of buttons in the one row -->
      <div class="row">
        <div class="column">
          <button class="btn btn-light" *ngIf="IsTimerSet()" (click)="onTimerReset()">Reset</button>
        </div>
        <div class="column">
          <button class="btn btn-light" *ngIf="IsTimerSet()" (click)="onTimerStop()">Stop</button>
        </div>
        <div class="column">
          <button class="btn btn-light" *ngIf="IsTimerSet()" [disabled]="IsRunning()" (click)="onTimerStart()">Start</button>
        </div>
        <div class="column">
          <button class="btn btn-light" (click)="onTimerSet()">Set Time</button>
        </div>
      </div>
      <!-- Timer part: minutes : seconds -->
      <div class="row">
        <div class="clock shadow-lg p-3 mb-5 bg-white rounded">
          <!-- This part will be shown only if time was set -->
        <h1 *ngIf="IsTimerSet(); else setTimerBlock">{{timer.Minutes}} : {{timer.Seconds}}</h1>
        <!--If time wasn'r set - promote user with functionlity to set time-->
        <ng-template #setTimerBlock>
          <div class="row">
            <div class="column">
                <input type="text" nz-input [(ngModel)]="timer.Minutes"/>
            </div>
            <div class="column">
              <h1> : </h1>
            </div>
            <div class="column">
              <input type="text" nz-input [(ngModel)]="timer.Seconds">
            </div>
          </div>
          <div class="row">
            <button class="btn btn-light" (click)="onTimeSetSubmit()">Submit</button>
          </div>
        </ng-template>
      </div>
    </div>
    </div>
  </nz-content>
  <nz-footer></nz-footer>
</nz-layout>
