<!-- <div class="container" style="background-color: black;">
  <div class="row">
    <div class="button-background container shadow-lg p-3 mb-5 bg-white rounded">
      <div class="row">
        <div class="column">
          <button class="btn btn-light" (click)="onTimerReset()">Reset</button>
        </div>
        <div class="column">
          <button class="btn btn-light" (click)="onTimerStop()">Stop</button>
        </div>
        <div class="column">
          <button class="btn btn-light" (click)="onTimerStart()">Start</button>
        </div>
      </div>
      <div class="row">
        <div class="clock shadow-lg p-3 mb-5 bg-white rounded">
        <h1>{{hours}}</h1>
      </div>
      </div>
    </div>
  </div>
</div> -->

<nz-layout>
  <nz-header>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <div class="row">
        <div class="column">
          <button class="btn btn-light" *ngIf="IsTimerSet()" (click)="onTimerReset()">Reset</button>
        </div>
        <div class="column">
          <button class="btn btn-light" *ngIf="IsTimerSet()" (click)="onTimerStop()">Stop</button>
        </div>
        <div class="column">
          <button class="btn btn-light" *ngIf="IsTimerSet()" (click)="onTimerStart()">Start</button>
        </div>
        <div class="column">
          <button class="btn btn-light" (click)="onTimerSet()">Set Time</button>
        </div>
      </div>
      <div class="row">
        <div class="clock shadow-lg p-3 mb-5 bg-white rounded">
        <h1 *ngIf="IsTimerSet(); else setTimerBlock">{{timer.Minutes}} : {{timer.Seconds}}</h1>
        <ng-template #setTimerBlock>
          <div class="row">
            <div class="column">
                <input type="text" nz-input [(ngModel)]="timer.Minutes"/>
            </div>
            <div class="column">
              <h1> : </h1>
            </div>
            <div class="column">
              <input type="text" nz-input [(ngModel)]="timer.Seconds">
            </div>
          </div>
          <div class="row">
            <button class="btn btn-light" (click)="onTimeSetSubmit()">Submit</button>
          </div>
        </ng-template>
      </div>
    </div>
    </div>
  </nz-content>
  <nz-footer></nz-footer>
</nz-layout>
